body {
  background-color: rgb(19, 21, 24);
}

p,
a {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  padding-left: 10px;
}

.gen-hrgna-btn-div {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

.title {
  font-family: monospace, "Courier New", Courier;
  font-size: x-large;
  font-weight: bolder;
}

.hiragana-image {
  display: block;
}

.hrgna-ans-inpt {
  display: block;
  width: 128px;
}

button {
  margin: 16px 6px;
}

.lvl-btn {
  border: 0px solid;
  border-radius: 50%;
  background-color: aliceblue;
  padding: 22px 4px;
  cursor: pointer;
}

.lvl-btn:hover {
  background-color: rgba(240, 248, 255, 0.875);
}

.lvl-btn:active {
  background-color: rgba(240, 248, 255, 0.8);
}

.hirigana-image {
  background-color: aliceblue;
  padding: 32px;
  border-radius: 50%;
  margin: 22px;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.lvl-slct-box,
#generate-hiragana-box {
  text-align: center;
}

.lvl-btn {
  margin: 5px;
  cursor: pointer;
}

.hrgna-ans-inpt {
  margin-top: 20px;
  padding: 5px;
  font-size: 16px;
}

#generate-hiragana-button,
#return-to-level-select-button,
#input-answer-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
